<h1>{{title}}</h1>
<br>

<div class="container">

  <div class="row">
    <label class="lead labelSize"> Bond Code </label>
  </div>

  <div class="row">
    <label class="lead labelSize"> Zeroed Peril Code </label>
  </div>


<div class="row" id="sandbox-container">
  <label class="lead labelSize" style="float:left; line-height: 36px;"> Start Date </label>
  <div class="input-group date input-sm col-xs-4" data-provide="datepicker">
    <input type="text" id="startDate" value="" placeholder="mm/dd/yyyy" class="form-control" data-date-autoClose="true"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>
</div>

</div>

