<h1>{{title}}</h1>

<div class="container">

  <div class="row alignment">
  <div class="col-md-4">

    <label class="lead labelSize"> Select a Peril  </label>
    <select class="lead input-sm labelSize" [(ngModel)]="selectedPeril.pcode" (change)="onSelect($event.target.value)">
      <option value="">--Select--</option>
      <option *ngFor="let p of perils" value={{p.pcode}}> {{p.pcodename}}</option>
    </select>
  <!--</div>-->
  <!--<br>-->

  <!--<div class="row alignment">-->
    <label class="lead labelSize"> Select a Bond  </label>
    <select class="lead input-sm labelSize">
      <!--<option *ngIf="selectedPeril.pcode == ''" value=""> &#45;&#45;Select&#45;&#45;</option>-->
      <option *ngIf="(!selectedPeril.pcode) == ''" value=""> --Select--</option>
      <option *ngFor="let b of bonds" value={{b.bcode}}> {{b.bcodename}}</option>
    </select>
  <!--</div>-->
<!--<br>-->
  <!--<div class="row alignment">-->
    <!--<div class="btn-group">-->
      <!--<button type="button" class="btn btn-primary labelSize" (click)="onEvaluate()"><strong> Evaluate </strong></button>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<br>-->
  <!--<br>-->
  </div>


  <!--<div class="row alignment">-->
    <div class="col-md-8">
    <app-my-grid-application></app-my-grid-application>
  </div>
</div>
</div>
