
<h1>{{title}}</h1>


<div class="container">

  <div class="row">
  <div class="col-md-4">
    <label class="lead labelSize"> PortfolioCode : </label>
    <select class="lead labelSize input-sm" [(ngModel)]="selectedPortfoliocodes.pfcode" (change)="onSelect($event.target.value)">
      <option value="">--Select--</option>
      <option *ngFor="let pf of portfoliocodes" value={{pf.pfcode}}>{{pf.pfcode}} </option>
    </select>
  <!--</div>-->
    <!--<div class="row">-->
      <label class="lead labelSize" style="float: left"> PortfolioDate : </label>
      <div class="input-group input-sm labelSize col-xs-5" >
        <my-date-picker [options]="myDatePickerOptions"
                        (dateChanged)="onDateChanged($event)"></my-date-picker></div>
      <!--<select class="lead labelSize input-sm" [(ngModel)]="selectedPortfoliocodes.pfdate"(change)="onSelect($event.target.value)">-->
        <!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
        <!--<option *ngFor="let pf of portfoliocodes" value={{pf.pfdate}}> {{pf.pfdate}} </option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="row">-->
      <label class="lead labelSize"> PerilCode : </label>
      <select class="lead labelSize input-sm" [(ngModel)]="selectedPeril.pcodename"(change)="onSelect($event.target.value)">
        <option value="">--Select--</option>
        <option *ngFor="let p of perils" value="{{p.pcodename}}">{{p.pcodename}}</option>
      </select>
    <!--</div>-->

    <!--<div class="row">-->
      <label class="lead labelSize"> SortColumn : </label>
      <select class="lead labelSize input-sm"  (change)="onSelect($event.target.value)">
        <option value="">--Select--</option>
        <option value="FCMCode">FCMCode</option>
        <option value="Size($)">Size($)</option>
        <option value="OnRiskFactor">OnRiskFactor</option>
        <option value="PerilExposureFactor">PerilExposureFactor</option>
        <option value="DeadPerilFactor">DeadPerilFactor</option>
        <option value="StructureFactor">StructureFactor</option>
        <option value="FirstEventExposure($)">FirstEventExposure($)</option>
      </select>
    </div>
  <div class="col-md-8">
    <app-my-grid-application></app-my-grid-application>
  </div>
  </div>
</div>
